In [2]:
#Q1. Create one variable containing following type of data:

#1.) String :

string="Anshay is a good guy"
print(string)
print(type(string))

Anshay is a good guy
<class 'str'>

In [4]:
#2.) Float :

float=24.55
print(float)
print(type(float))

24.55
<class 'float'>

In [5]:
#3.) List : 

l=[1, 2, "Anshay", 23.77, False]
print(l)
print(type(l))

[1, 2, 'Anshay', 23.77, False]
<class 'list'>

In [5]:
#3.) List : 

l=[1, 2, "Anshay", 23.77, False]
print(l)
print(type(l))

[1, 2, 'Anshay', 23.77, False]
<class 'list'>

In [5]:
#3.) List : 

l=[1, 2, "Anshay", 23.77, False]
print(l)
print(type(l))

[1, 2, 'Anshay', 23.77, False]
<class 'list'>

In [5]:
#3.) List : 

l=[1, 2, "Anshay", 23.77, False]
print(l)
print(type(l))

[1, 2, 'Anshay', 23.77, False]
<class 'list'>

In [6]:
#4.) Tuple : 

T=("anshay", True, 2, 3.6, (3+8j), 5)
print(T)
print(type(T))

('anshay', True, 2, 3.6, (3+8j), 5)
<class 'tuple'>

In [15]:
#Q2. Given are some following variables containing data:

#1.) 

var1 = ' '
print(type(var1))

<class 'str'>

In [17]:
#2.) 

var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [18]:
#3.) 

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [19]:
#4.)

var4 = 1.
print(type(var4))

<class 'float'>

In [20]:
#Q3. Explain the use of the following operators using an example:

#1.) The below operator will divide 54 by 3.

a=54/3
print(a)

18.0

In [21]:
#2.) The below operator will give the remainder when 47 is divided by 7.

b=47%7
print(b)

5

In [22]:
#3.) The below operator will give quotient when 47 is divided by 6.

c=47//6
print(c)

7

In [23]:
#4.) The below operator will multiply 2 by 2, 4 times.

d=2**4
print(d)

16

In [24]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

A=[1, 2, 3, "Anshay", True, (3+5j), 33.65, 4, False, "Hello"]
for i in A:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
Anshay
<class 'str'>
True
<class 'bool'>
(3+5j)
<class 'complex'>
33.65
<class 'float'>
4
<class 'int'>
False
<class 'bool'>
Hello
<class 'str'>

In [62]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

A=int(input())
B=int(input())


while A>=B:
    if A%B==0:
        print("it is divisible")
        C=A//B
        print(C, "times it is divisible")
        break
    else:
        print("not divisible")
        break

 66
 3

it is divisible
22 times it is divisible

In [63]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

A=[1, 2, 5, 6, 33, 44, 76, 43, 99, 9, 32, 28, 56, 88, 102, 100, 69, 12, 13, 72, 25, 23, 59, 7, 39]
for i in A :
    if i%3==0 :
        print(i)

6
33
99
9
102
69
12
72
39

In [64]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

# case 1 (mutable) : 

S=[1, 2, 55, True, 22.57, (2+3j)]
S[3]=33
print(S[3])
print(S)

# In above example we can replace elemnts of the list by the concept of mutability (possible only in lists).

33
[1, 2, 55, 33, 22.57, (2+3j)]

In [65]:
# case 2 (immutable) :

S="Anshay"
S[1]=k
print(S[1])
print(S)

NameError: name 'k' is not defined

In [ ]:
# Above error is showing because we cannot replace elements in a string using the concept of mutability. Hence, it is immutable.