In [1]:
""" Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)] """

" Q1. Create a python program to sort the given list of tuples based on integer value using a\nlambda function.\n[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)] "

In [5]:
L1= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_L1 = sorted(L1, key=lambda n: n[1])

for i in sorted_L1:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [6]:
""" Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] """

L2= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

list(map(lambda x : x**2, L2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
""" Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10') """

L3= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(map(lambda x:str(x), L3))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
""" Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25. """

from functools import reduce

In [9]:
L4=list(range(1,26))

In [12]:
reduce(lambda x,y:x*y,L4)

15511210043330985984000000

In [13]:
""" Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function. """

L5=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

list(filter(lambda x : x%2==0 and x%3==0, L5))

[6, 60, 90, 120]

In [18]:
""" Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level'] """

L6=['python', 'php', 'aba', 'radar', 'level']

list(filter(lambda x: x[::1]==x[::-1],L6))

['php', 'aba', 'radar', 'level']